<form>
    <div class="row">
        <div class="form-group col-md-8">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            Buscar Por
                        </div>
                    </div>
                    <select id="" class="form-select" formControlName="idAutor">
                        <option value="1">Autor</option>
                        <option value="2">Titulo</option>
                        <option value="3">Año</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group col-md-8">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="numPaginas">
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group">
                <button class="btn btn-primary btn-block">Buscar</button>
            </div>
        </div>
    </div>
    
    <br>
    
</form>